@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
  }

@font-face {
    font-family: InterBold;
    src: url(../fonts/static/Inter-Bold.ttf);
  }

@font-face {
    font-family: InterExtraBold;
    src: url(../fonts/static/Inter-ExtraBold.ttf);
  }

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Inter;
}

a {
    text-decoration: none;
}

p {
    color:hsl(236, 13%, 42%);
    font-size: 15px;
}

body {
    margin:5% 10%;
}

.backgroundcolor {
    display: none;
}

header {
    display:flex;
    justify-content: space-between;
}

nav {
    width:40%;
}

nav button {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav a {
    color:hsl(240,100%,5%);
}

nav a:hover {
    color: hsl(5, 85%, 63%);
}

section {
    display:flex;
    margin-top:4%;
    gap:2rem;
}

.brightfuture {
    width:65%;
}

.imagecontainertitle {
    height:300px;
    background-size: cover;
    background-image:url("../images/image-web-3-desktop.jpg");
}

.textcontainer {
    display:flex;
    justify-content: space-between;
    margin-top:2%;
    gap:6rem;
}

h2 {
    font-family:InterExtraBold;
    font-size: 3.5rem;
    width:60%;
    line-height:3.5rem;
}

.textcontainer div {
    width:70%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.brightfuture a {
    color:hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding:10px 5px;
    width:40%;
    text-align: center;
}

.brightfuture a:hover {
    background-color: hsl(240, 100%, 5%);
}

.new {
    width:32%;
    background-color: hsl(240, 100%, 5%);
    padding:1rem 1.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3 {
    color:hsl(35, 77%, 62%);
    font-size:2rem;
}

.new > div {
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new div div {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.borderdiv {
    border-bottom:1px solid hsl(236, 13%, 42%);
    padding-bottom: 2rem;;
}

.new a {
    color:hsl(36, 100%, 99%);
    font-size: 1.3rem;
    font-weight: 700;
}

.new a:hover {
    color: hsl(35, 77%, 62%);
}

.new p {
    color:hsl(233, 8%, 79%);
    font-size: 15px;
}

.footer {
    gap:1rem;
    margin: 5% 0 5% 0;
}

.footer > div {
    display: flex;
    gap: 1.5rem;
    width:33%;
}

.footer img {
    width:25%;
}

.footer div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h5 {
    font-size:1.5rem;
    font-weight:700;
    color: hsl(233, 8%, 79%);
}

.footer a {
    font-weight:800;
    color: hsl(240, 100%, 5%);
}

.footer a:hover {
    color: hsl(5, 85%, 63%);
}

@media (max-width:400px) {
    * {
        margin:0;
        padding:0;
    }
    
    body {
        margin:7% 5%;
        padding:0;
    }

    .backgroundcolor {
        height:100vh;
        width:100vw;
        position:fixed;
        top:0;
        left:0;
    }

    .on {
        display: block;
        background-color: hsl(236, 13%, 42%);
        opacity: 0.5;
    }

    header > img {
        height:30px;
        width:50px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav button {
        display: block;
        background-color: white;
        border:none;
    }

    nav ul {
        display:none;
    }

    .open {
        display:flex;
        position:absolute;
        height:100vh;
        width:100%;
        top:0;
    }

    .navlistopen {
        display:flex;
        flex-direction:column;
        position:absolute;
        right:0;
        top:0;
        background-color: white;
        height:100%;
        padding:35% 7% 50% 7%;
        width:72%;
    }

    .buttonopen {
        display:block;
        position:absolute;
        top:20px;
        right:40px;
        z-index:2;
    }
    
    section {
        flex-direction:column;
        width:100%;
        margin:0;
        padding:0;
    }

    p {
        width:100%;
    }

    .brightfuture, .new {
        width:100%;
    }

    .brightfuture {
        margin:10% 0;
    }

    .imagecontainertitle {
        background-image: url("../images/image-web-3-mobile.jpg");
    }

    .textcontainer{
        flex-direction: column;
        gap:0;
        margin-top:8%;
    }

    .brightfuture a {
        width:55%;
    }

    h2 {
        width:100%;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .brightfuture div div {
        width:100%;
    }

    .brightfuture p {
        margin: 5% 0;
        line-height:1.5rem;
    }

    .new {
        margin-bottom:10%;
    }

    .new div div {
        padding:10% 0;
    }

    .footer div {
        width:100%;
        margin-bottom:4%;
    }
}